# <center> Intermediate Pandas Python Library for Data Science

### <center>  Instructor: Vinita Silaparasetty

#### Import Libraries

In [ ]:
import numpy as np               #import numpy as np for convenience.
import pandas as pd              #import pandas as pd for convenience.

#### Load Data

In [1]:
df=pd.read_csv("https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/master/What_does_aid_to_Africa_finance_1.csv ")

df.head(3) #Ensure data has loaded correctly.

,countryc,year,agrgdp,popn,infmort,schprim,schsec,grtdsbp,grlndsbp,aiddsbp,...,dcurexpp,dcapexpp,dprirepp,dcnlnagp,dcnlnenp,dcnlninp,dcnlntacp,dcnlnedup,dcnlnhthp,dcnlnothp
0,Burkina Faso,1970,35.44188862,5633000.0,141.3999939,13,1,13.3182802200317,1.02303504943848,14.3413200378418,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308
1,Burkina Faso,1970,35.44188862,5633000.0,141.3999939,13,1,13.3182802200317,1.02303504943848,14.3413200378418,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308
2,Burkina Faso,1971,36.16739069,5740700.0,139.1999969,13.6,1.2,16.7043991088867,0.655763506889343,17.3601703643799,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308

#### Splitting Data

In [ ]:
df_new = df.copy()
df1 = df_new.sample(frac = 0.25, random_state = 0) #we set that to 0, so that the values for df1 are not selected at random
df_new = df_new.drop(df1.index)
#this gonna drop whichever values have been assigned to df1

## <center> Handle Missing Values

#### Detect Missing Values

### <center> Impute Missing Values

<center><a>
   <img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/imputation.gif?raw=true" width="700" height="600">
</a>

### <center> Interpolate Missing Values

<center><a>
   <img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/interpolation.gif?raw=true" width="700" height="600">
</a>

## <center>üèÜ Challenge

Detect missing values in df2 and decide on the best method to handle them with respect to infant mortality rate.

In [ ]:
#detect missing values

In [ ]:
#handle missing values

## <center> Combining Data

#### Joining

#### Concatenation

# <center>  Advanced Joins

<center> <img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/inner-join.png?raw=true" width="600" height="600">

<center> <img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/full-outer-inclusive-join.png?raw=true" width="600" height="600">

<center> <img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/left-inclusive-join.png?raw=true" width="600" height="600">

<center> <img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/right-inclusive-join.png?raw=true" width="600" height="600">

## <center>üèÜ Challenge

Generate a new data frame which contains information only from those African countries with the same 'Agriculture as a Share of GDP'.

## <center> Sorting

###### Sort values by a single column

###### Sort values by row labels

## <center>üèÜ Challenge

Sort the values in df3 according to the least 'Secondary School Enrolment Rate'. Select the best method for sorting to solve this challenge.

### <center> Selection

### Select columns by their names

### Select columns by index

### <center> Slicing

## <center>üèÜ Challenge

Select only those values in df4 that relate to the concessionary loans to various sectors in Africa.

### <center>Grouping

#### Group by multiple columns

#### Calculate the aggregate of a group

## <center>üèÜ Challenge
Group the values in df1 by their 'GDP per Capita in 1995'.

## <center> Binning Data

<center> <img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/binning%20data.gif?raw=true" width="600" height="800">

## <center>üèÜ Challenge
    
Bin the data in df2 according to the expenditure on various sectors.